<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>AurOracle</title>

	
	<link rel="stylesheet" href="../static/style.css">

	
	<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>
<body>
	

	<section>

		<section class="hero">
		 <header>
            <nav>
                <a class="logo" href="/">AurOracle</a>
                <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
                </div>
                <ul class="nav-list">
                    <li><a href="#about">About Us</a></li>
                    <li><a href="#challenge">Challenge</a></li>
                    <li><a href="#solution">Solution</a></li>
                    <li><a href="/prediction">Prediction</a></li>
                    <li><a href="/education">Education</a></li>
                </ul>
            </nav>
        </header>
			<div class="container">
				<div class="hero-content">
					<h2 class="heading white">
						In the beginning, there <br> was light
					</h2>
					<p class="para-line white">
						In the end, it is about embracing light, the light of knowledge, prediction, and accuracy, for these are the beacons that guide us through the labyrinth of uncertainty and ignorance, illuminating our path toward understanding, progress, and wise decision-making.
					</p>
					<button class="btn btn-white">
						<a href="/prediction">
							Predict Now &nbsp; <ion-icon name="caret-forward-outline"></ion-icon>
					</button>
					</a>
				</div>
			</div>
		</section>
	</section>
	


	
	<section class="about" id="about">
		<div class="container">
			<div class="row">
				<div class="col">
					<h2 class="heading">
						About Us
					</h2>
					<p class="para-line" >
						AurOracle is a group of experts specializing in physics, data analysis, machine learning, space weather, and web development. Our main goal is to use raw data from the DSCOVR satellite to predict geomagnetic storms, even in the presence of intermittent data anomalies. Our secondary mission involves addressing these anomalies in a unique way. In essence, AurOracle team aims to contribute a high-impact solution to advance geomagnetic storm prediction, ultimately enhancing our planet's safety and preparedness.	
					</p>
					<button class="btn border-btn">
						<a href="https://youtu.be/IabsrWSoETE?si=KVS-6JfQZ_Wm-6mb">
							See the video
							<ion-icon name="chevron-forward-outline"></ion-icon>
						</a>
					</button>
				</div>
				<div class="col">
					<img src="../static/img/AurOracle Logo.jpg"  class="about-img">
				</div>

			</div>
		</div>
	</section>
	
	
	
	<section class="skills">
		<div class="container">
			<h2 class="heading">
				Team Skills
			</h2>
			<p class="para-line">
				We are a group of individuals with diverse skills and backgrounds, combining our capabilities to solve ambitious problems
			</p>

			
			<div class="skills-row">
				<div class="skills-card">
					<ion-icon name="analytics-outline" class="skills-icon"></ion-icon>
					<h2 class="skills-name">Physics</h2>
	
				</div>
			
				<div class="skills-card">
					<ion-icon name="planet-outline" class="skills-icon"></ion-icon>
					<h2 class="skills-name">Astrophysics</h2>
	
				</div>
				<div class="skills-card">
					<ion-icon name="code-outline" class="skills-icon"></ion-icon>
					<h2 class="skills-name">Web Development</h2>
	
				</div>
			
				<div class="skills-card">
					<ion-icon name="cloud-outline" class="skills-icon"></ion-icon>
					<h2 class="skills-name">Data Analysis</h2>
	
				</div>
			
				<div class="skills-card">
					<ion-icon name="laptop-outline" class="skills-icon"></ion-icon>
					<h2 class="skills-name">Machine Learning</h2>
	
				</div>

				<div class="skills-card">
					<ion-icon name="create-outline" class="skills-icon"></ion-icon>
					<h2 class="skills-name">Editing</h2>
	
				</div>
			
				<div class="skills-card">
					<ion-icon name="folder-outline" class="skills-icon"></ion-icon>
					<h2 class="skills-name">Project Managment</h2>
	
				</div>
			
				<div class="skills-card">
					<ion-icon name="pie-chart-outline" class="skills-icon"></ion-icon>
					<h2 class="skills-name">Leadership</h2>
	
				</div>
			</div>
		</div>
	</section>


<section class="about" id="challenge">
	<div class="container">
		<div class="row">
			<div class="col">
				<img src="../static/img/Home Page/GSFC_20171208_Archive_e002082orig.2e16d0ba.fill-300x250.jpg" class="about-img">
			</div>
			<div class="col">
				<h2 class="heading">
					What is the Problem we are solving and why did we choose this challenge?
				</h2>
				<p class="para-line" >
					We are addressing a complex challenge centered on the severe impact of geomagnetic storms on Earth's infrastructure. The problem primarily concerns the vulnerability of critical systems like power grids, communication networks, and navigation systems to these storms, which can disrupt them significantly. Additionally, anomalies in the "level 2" data from the DSCOVR satellite pose a significant challenge in accurately predicting and preparing for geomagnetic storms. Moreover, there's a lack of awareness about the potential damages caused by these storms. Our goal is to raise awareness, enhance space weather monitoring, and improve disaster preparedness to safeguard our infrastructure and ensure a more resilient future for our planet.
				</p>
				<button class="btn border-btn">
					<a href="https://www.spaceappschallenge.org/2023/challenges/develop-the-oracle-of-dscovr/">
						See the Challenge
						<ion-icon name="chevron-forward-outline"></ion-icon>
					</a>
				</button>
			</div>


		</div>
	</div>
</section>

	<section class="master" style="background-color: #FAFAFE;" >
		<br> <br>
		<div class="container">
			<h2 class="heading">Our Team</h2>
			<div class="masters-row">
				<div class="master-card">
					<h3 class="master-name">Joe Hadchity</h3>
					<p class="master-post">Team Leader, <br>Physics, Data Analysis</p>
				</div>
			
				<div class="master-card">
					<h3 class="master-name">Christ Nakhoul</h3>
					<p class="master-post">Co Leader, <br>Developer, Data Analysis</p>
				</div>
			
				<div class="master-card">
					<h3 class="master-name">Cloe Ayoub</h3>
					<p class="master-post">Video Editing, Project <br> Designing</p>
				</div>	
				<div class="master-card">
					<h3 class="master-name">Christian Abou Daher</h3>
					<p class="master-post">Web Designing,  <br>Web Development</p>
				</div>
			
				<div class="master-card">
					<h3 class="master-name">Jeffrey Kobersy</h3>
					<p class="master-post">Astrophotography, <br> Writing</p>
				</div>
			
				<div class="master-card">
					<h3 class="master-name">Carl Hachem</h3>
					<p class="master-post">Astronomy, <br> Researching</p>
				</div>	
			</div>
		</div>
		<br>
	</section >
	
<span id="solution"></span>

	
	<section class="solution" >
		<div class="container">
			<div class="row">
				<div class="col">
					<img src="../static/img/Home Page/solutiobn.jpeg"  class="facility-img">
				</div>
				<div class="col">
					<h2 class="heading">Our Solution</h2>
					<p class="para-line">
						-Predicting Geomagnetic Storms: We use machine learning regression to forecast geomagnetic storms accurately, helping organizations prepare for potential disruptions. <br>
						-Fixing DSCOVR Satellite Anomalies: We employ reverse machine learning to rectify anomalies in DSCOVR satellite data, enhancing space weather monitoring. <br>
						-Educational Library: We provide a user-friendly online library to educate the public about geomagnetic storms, their history, and safety measures for better preparedness.
					</p>
				</div>
			</div>
		</div>
	</section>
	


	
	<footer>
		<br>
        <ul class="list-footer">
            <li><a href="#">Home</a></li>
            <li><a href="/prediction">Prediction</a></li>
            <li><a href="/education">Education</a></li>

        </ul>
		<div class="social-media">
            <a href="https://instagram.com/auroracle23?igshid=MzRlODBiNWFlZA=="><ion-icon name="logo-instagram" id="icons"></ion-icon></a>
            <a href="https://www.youtube.com/@AurOracle-me9fc"><ion-icon name="logo-youtube" id="icons"></ion-icon></a>
        </div>
        <p class="copyrights" style="font-size: 25px;">Aur<span >Oracle</span></p>
    </footer>
        <script src="../static/mobile-navbar.js" ></script>

</body>
</html>


